.Card,  .ParteSuperiorCard, .ParteInferiorCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;


    /* border-style: solid; */
}

button {
    width: 5px;
    height:5px
}