body {
  cursor: wait;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  margin: 0;
  

}


/* --------------------------------------------card----------------------------------------------------------------------- */

.Card,  .ParteSuperiorCard, .ParteInferiorCard {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.Card {
    border-style: solid;
    border-top: none;
    border-left: none;
    justify-content: center;
    cursor: zoom-in;
}

.Card button {
    width: auto;
    height: auto;
    padding: 0.5rem;
    
    align-self: flex-end;

    margin-right: 2%;
    margin-block: auto;
    line-height: 0;

    border-radius: 0;
}

.Card button span {

    display: flex;
    justify-self: center;
    align-self: center;
    font-size: xx-small;
   
}

.Card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;

}

/* --------------------------------------------header----------------------------------------------------------------------- */

.Header {

    margin: 2.5rem 2rem 3.5rem 2rem;
    
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.Header a, .Header button {
    text-decoration: none;
    font-size: 1rem;
    line-height: auto;
}
.Header button {
    background: none;
    border: none;
    
   
    padding: 0;
    margin: 0;
}

.Header span{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1.5px;
}

.Pages {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

/* --------------------------------------------footer----------------------------------------------------------------------- */

.Footer {
  margin-top: 2rem;
  z-index: 60;
  
}
.Lanhouse {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
 
}

.Lanhouse-content {
  display: inline-block;
  animation: marquee 40s linear infinite;
}

.Lanhouse-content span {
  display: inline-block;
  padding-right: 4rem;
  font-size: 1.2rem;
  white-space: nowrap;
  
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.FooterInfo{
  display: flex;
  justify-content: space-between;
    margin-inline: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
   
}


