@font-face {
    font-family: 'W95FA';
    src: url(src\assets\fonts\w95fa.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tech';
    src: url(src\assets\fonts\Technology-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

:root {
    /*geral*/
    --texto: #23434c;
    --texto-home: "a";
    --background: #03c;
    --fonte-p:  "aa";
    --fonte-footer:  "aa";
    --drop-shadow: drop-shadow(0 0 1rem var(--texto));

    /*imagens e figuras*/
    --img-caveira: "aa";
    --img-corvo: "aa";
    --flores-sb:  "aa";
    --estrela-d-devlogs: "aa";
    --estrela-e-devlogs: "aa";
    --estrela-mais-devlogs:"aa";
    --fig-arvore: "aa";
    --fig-hamster: "aa";


    /*card*/
    --card:  "aa";
    --margem-card: "aa";
    --espaço-bt:  "aa";
    --card-filtro:  "aa";
}

.theme-red {
    /*geral*/
    --texto: #A61717;;
    --fonte-home: 'Tech', 'W95FA', sans-serif;
    --background: #1A0D0D;
    --fonte-p:  'W95FA', sans-serif;
    --fonte-footer:  'Tech', 'W95FA', sans-serif;
    --drop-shadow: drop-shadow(0 0 1rem #A61717);

    

    /*imagens e figuras*/
    --img-caveira: "aa";
    --img-corvo: "aa";
    --flores-sb:  "aa";
    --estrela-d-devlogs: "aa";
    --estrela-e-devlogs: "aa";
    --estrela-mais-devlogs:"aa";
    --fig-arvore: "aa";
    --fig-hamster: "aa";

   

    /*card*/
    --card:  #FF4A4A;
    --margem-card: #FF4A4A;
    --espaço-bt:  #FF4A4A;
    --card-filtro:  #760C0366;
;
}

.theme-windows {
    /*geral*/
    --texto: #23434c;
    --fonte-home: 'W95FA', sans-serif;
    --background: #03c;
    --fonte-p:  'W95FA', sans-serif;
    --fonte-footer:  'W95FA', sans-serif;
    --drop-shadow: drop-shadow(0 0 1rem var(--texto));

    --a: #1A0D0D;
    --b: #760C03;
    --c: #A61717;
    --d: #FF4A4A;

    /*imagens e figuras*/
    --img-caveira: "aa";
    --img-corvo: "aa";
    --flores-sb:  "aa";
    --estrela-d-devlogs: "aa";
    --estrela-e-devlogs: "aa";
    --estrela-mais-devlogs:"aa";
    --fig-arvore: "aa";
    --fig-hamster: "aa";


    /*card*/
    --card:  "aa";
    --margem-card: "aa";
    --espaço-bt:  "aa";
    --card-filtro:  "aa";
}

.theme-cm{
    /*geral*/
    --texto: #23434c;
    --fonte-home: 'W95FA', sans-serif;
    --background: #03c;
    --fonte-p:  'W95FA', sans-serif;
    --fonte-footer:  'W95FA', sans-serif;
    --drop-shadow: drop-shadow(0 0 1rem var(--texto));

    /*imagens e figuras*/
    --img-caveira: "aa";
    --img-corvo: "aa";
    --flores-sb:  "aa";
    --estrela-d-devlogs: "aa";
    --estrela-e-devlogs: "aa";
    --estrela-mais-devlogs:"aa";
    --fig-arvore: "aa";
    --fig-hamster: "aa";


    /*card*/
    --card:  "aa";
    --margem-card: "aa";
    --espaço-bt:  "aa";
    --card-filtro:  "aa";
}