:root {
    --texto: #23434c;
    --background: #03c;
    --img-caveira: "aa";
    --img-corvo: "aa";
    --fonte-p:  "aa";
    --fonte-footer:  "aa";
    --flores-sb:  "aa";
    --card:  "aa";
    --margem-card: "aa";
    --espaço-bt:  "aa";
    --card-filtro:  "aa";
}

