/* ------------------------------------------------------Home----------------------------------------------------- */

* {
  outline: 1px solid red;
}

html {
    padding: 0;
}

.TudoHome {
    height: min-content;
}

.Home {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;

}

.Home h1 {
    text-align: justify;
    gap: 0.2rem;
}

.PrimeiroCard, .SegundoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.PrimeiroCard {
    margin-bottom: 1rem;
}

.SegundoCard {
    font-size: 0.8rem;
}

.HomeCards, .HomeCards h1{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#Caveira {
  transform: translateX(-45rem);
  position: relative;
}


 #Caveira{
    z-index: 5;
    position: relative;
    
    bottom: 47rem;
    
    left: 85rem;

    width: 52.1875rem;
   
    height: auto;
 } 

.CaveiraHome {
    width: 0;
    height: fit-content;
}

#Radio {
  position: relative !important;
  bottom: 60rem;
  left: 72rem;
  margin-bottom: -20rem;
  z-index: 10;
  width: fit-content;
  height: fit-content;
}


.Corvo {
    z-index: -1;
   
    top: 1rem;
    
    right: 20rem; 
    position: relative;

    width: 38.8rem;
    height: fit-content;
}

.Flores {
    z-index: 3;
    
    /* coordenada Y do Figma */
    /* top: 32.125rem; */
    /* coordenada X do Figma */
    /* left: 40.9375rem; */

    position: relative;
    right:45rem;
    bottom: 5.5rem;
    width: 13.375rem;
    height:fit-content;

}

/* .SegundoCard h1 {
    margin-left: 2rem;
} */

