/* ------------------------------------------------------Home----------------------------------------------------- */

html {
    padding: 0;
    height: fit-content;
}

.TudoHome {

    height: fit-content;
    padding-bottom: 19rem;
    

}

body {
    height: fit-content;
  
}

.Home {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;

}

.Home h1 {
    text-align: justify;
    gap: 0.2rem;
}

.PrimeiroCard, .SegundoCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    gap: 1rem;
}

.PrimeiroCard {
    margin-bottom: 1rem;
}

.SegundoCard {
    font-size: 0.8rem;
}

.HomeCards, .HomeCards h1{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

#Caveira {
   transform: translateY(63rem); 
  position: relative;
}


 #Caveira{

    z-index: 5;
    
    
    bottom: 47rem;
    
    left: 42rem;

    width: 50rem;
   
    height: auto;
 } 

.CaveiraHome {
    width: 0;
    height: fit-content;
    margin-bottom: 0;
    padding-bottom: 0;
    bottom: -30rem;
    top: 10rem;
   
}

#Radio {
  

  left: 73rem;
  transform: translateY(2rem); 
  
  z-index: 7;
  width: fit-content;
  height: fit-content;
  margin-bottom: 10rem;
  
}


.Corvo {
    z-index: -1;
   
    top: 1rem;
    
    right: 20rem; 
    position: relative;

    width: 38.8rem;
    height: fit-content;
}

.Flores {
    z-index: 3;
    
    /* coordenada Y do Figma */
    /* top: 32.125rem; */
    /* coordenada X do Figma */
    /* left: 40.9375rem; */

    position: relative;
    right:45rem;
    bottom: 5.5rem;
    width: 13.375rem;
    height:fit-content;

}

/* .SegundoCard h1 {
    margin-left: 2rem;
} */


#Outros {
    position: relative;
}

#Caveira, #Radio {
    position: absolute;
    padding-bottom: 3rem;
    /* set top/left/right/bottom as needed */
    
}

/* ------------------------------------------------------AboutMe----------------------------------------------------- */

#AboutMe {
    margin-left: 2rem;
    margin-right: 2rem;

}

#CardAboutMe {
    z-index: 15;
    position: relative;
    margin-bottom: -16rem;


}
#Arvore {
    z-index: 1;
    transform: translateX(40rem) translateY(-20rem);
    position: absolute;
    width: 50.290625rem;
    height: auto;
    /* margin-bottom: -140rem; */
}

#AboutMe p {
    z-index: 4;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    
    align-items: flex-end;
    transform:  translateY(10rem);
}

/* ------------------------------------------------------Devlogs----------------------------------------------------- */


#Devlogs {
    margin-left: 2rem;
    margin-right: 2rem;
   
}

#PrimeiraParte {
margin-bottom: 5rem;
}
#PrimeiraParte, #MaisDevlogs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

#PrimeiraParte h2, #PrimeiraParte p, .VerMais {
    width: 24.6875rem;
}
.VerMais {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
#Estrelas1 {
    position: relative;
    z-index: -1;
}


#Direita {
    position: absolute;
    width: 19.125rem;
    height: auto;
    transform: translateX(23.5rem) translateY(-47rem) ;
}

 #Esquerda{
    width: 15.75rem;
    height: auto;
    transform: translateX(57.4rem) translateY(-46.5rem) ;
    position: absolute;
 }


 #MaisDevlogs, #MaisDevlogs div, #MaisDevlogs h3 {
    
    align-items: center;
    line-height: 3rem;
    margin-top: -2rem;
    
   
    
 }

 #SegundaParte {
    margin-bottom: -23rem;
    align-items: center;
    justify-content: center;
 }

 #SegundaParte img {
    z-index: 3;
    transform: translateY(-15rem);
 }

 /* #MaisDevlogs {
    /* justify-content: space-between;
    gap: 3rem;
    margin-bottom: 2rem;
    margin-left: 7rem;
    margin-right: 7rem; 
 } */

 #MaisDevlogs {
    columns: 3 !important;         /* força 3 colunas */
  column-gap: 20px;  
  height: fit-content;
  
}

#MaisDevlogs div {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaço vertical entre os links */
    align-items: stretch; 
    
}


 #MaisDevlogs a {
    display: block;
    justify-content:flex-end;
    width: 100%;    
    
    max-width: none;  
   
    text-align: center;
    text-decoration: none;
 }

 h3 {
    margin-bottom: 6rem;
 }
 
 
/* ------------------------------------------------------OtherProjects----------------------------------------------------- */

#OtherProjects {
    
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    
}

#Hamster {
    flex-direction: column;
    align-content: end;
    justify-content: space-between;
}

#Hamster p {
    font-size: 1.5rem;
    text-align: left;
    line-height: 0.5rem;
    margin-left: 26%;
    
    
    
}

#Hamster img {
    width: 50.8125rem;
    height: auto;

}

#Hamster #texto {
    margin-bottom: 20%;
    margin-top: 8rem;
}